@import url("https://ghcdn.rawgit.org/n2geoff/grayscale/main/dist/grayscale.min.css");
@import url("styles.min.css");

.none {display: none;}

h1 {margin: 0 }

.hero {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 90vh; /* TODO: change to 100vh */
    margin: 0 auto;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
    padding: 0
}

.center {text-align: center;}
.right {text-align: right;}

code {
    background: var(--fg);
    color: var(--bg)
}


h4 {
    margin: 0
}